In [11]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [12]:
train = pd.read_csv("battles_updated.csv")
test = pd.read_csv("tests.csv")
pokemon = pd.read_csv("pokemon.csv")
typechart = pd.read_csv("chart.csv")

In [13]:
train

,First_pokemon,Second_pokemon,outcome,type_interaction,calc_speed,calc_atk,calc_def,calc_spatk,calc_spdef
0,21,1,0,-1.50,-11,-66,9,-38,30
1,25,1,0,0.00,-27,-7,14,40,30
2,50,1,1,0.00,5,-4,-21,-5,-10
3,64,1,0,-1.50,-15,-116,4,-108,15
4,76,1,1,0.00,5,-6,14,-1,35
...,...,...,...,...,...,...,...,...,...
75057,658,267,1,2.00,-57,168,10,130,10
75058,372,579,1,1.00,-17,55,7,36,-11
75059,162,753,1,2.00,-57,104,-35,126,-35
75060,56,53,1,1.75,-65,177,55,112,35
75061,19,225,1,1.00,-45,125,190,55,15

Baseline

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [15]:
train.head(1)

,First_pokemon,Second_pokemon,outcome,type_interaction,calc_speed,calc_atk,calc_def,calc_spatk,calc_spdef
0,21,1,0,-1.5,-11,-66,9,-38,30

In [16]:
#Drop unnecessary columns
try:
#     drop = ["first_Type 1", "first_Type 2", "second_Type 1", "second_Type 2", "First_pokemon", "Second_pokemon", "first_Multiplier", "second_Multiplier"]
    drop = ["First_pokemon", "Second_pokemon"]
    train.drop(drop, axis=1, inplace=True)
except Exception as e:
    print(e)

In [17]:
train

,outcome,type_interaction,calc_speed,calc_atk,calc_def,calc_spatk,calc_spdef
0,0,-1.50,-11,-66,9,-38,30
1,0,0.00,-27,-7,14,40,30
2,1,0.00,5,-4,-21,-5,-10
3,0,-1.50,-15,-116,4,-108,15
4,1,0.00,5,-6,14,-1,35
...,...,...,...,...,...,...,...
75057,1,2.00,-57,168,10,130,10
75058,1,1.00,-17,55,7,36,-11
75059,1,2.00,-57,104,-35,126,-35
75060,1,1.75,-65,177,55,112,35
75061,1,1.00,-45,125,190,55,15

In [18]:
y = train.outcome
train.drop("outcome", axis=1, inplace=True)

In [ ]:
reg_model = LogisticRegression()
svm_model = LinearSVC(max_iter=10000)
rf_model = RandomForestClassifier(n_estimators=300)
gb_model = GradientBoostingClassifier(n_estimators=150)

reg_scores = cross_val_score(reg_model, train, y, cv=5, scoring="f1")
svm_scores = cross_val_score(svm_model, train, y, cv=5, scoring="f1")
rf_scores = cross_val_score(rf_model, train, y, cv=5, scoring="f1")
gb_scores = cross_val_score(gb_model, train, y, cv=5, scoring="f1")

C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [ ]:
print("Cross-Validation F1 Scores (mean):")
print("Logistic Regression: %0.2f" % reg_scores.mean())
print("SVM: %0.2f" % svm_scores.mean())
print("Random Forest: %0.2f" % rf_scores.mean())
print("Gradient Boosting: %0.2f" % gb_scores.mean())

Random Forest works surprisingly well. <br>
I wonder what it is abt the data that makes SVM perform so poorly? Some math stuff that idk abt probably. <br>